
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
 font-family: 'Antic Slab';font-size: 22px;
 text-align: justify;
  background: rgba(84, 89, 96, 0.3)
}

.container {
  max-width: 960px;
  margin: 0 auto;
 transition:transform 0.3s ease;

}

.wiki-item {
  margin: 10px;
  border-style: outset ;
  font-size: 16px;
  background-color: rgb(236, 233, 230);
}

.wiki-item:hover{
transform: scale(1.1)
translateY(20px)

}
.wiki-header{
    text-transform: uppercase;
    text-align: center;
    color: rgb(74, 74, 87);
    font-weight: bold;
      margin: 3px;
}

.wiki-content {
  padding: 10px;

}

.wiki-img {
  width: 100%;
  height: auto;
   border-radius: 5px;
   border-style: ridge ;
  
}

@media (min-width: 600px) {
  .wiki-content {
    display: flex;
    flex-direction: row-reverse;
  }

  .wiki-text, .img-container {
    min-width: 50%;
    max-width: 50%;
    margin: 5px;

  }
  .wiki-header{
     margin: 3px;
  }

  .img-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .wiki-img {
    width: 90%;
    max-height: 300px;
    object-fit: cover;
   
  }
}



